@charset "UTF-8";:root {
    --global-theme-color: #341f97;
}

html[data-theme=dark] {
    --global-theme-color: #2698ba;
}

.container {
    max-width: 800px
}

a,table.table a {
    color: var(--global-theme-color)
}

.profile {
	vertical-align: middle;
	width: 20%;
    border-radius: 50%; /* Make the image circular */

}


.profile img {
	width: 90%;
	/* border-radius: 50%; */
}

body {
    font-family: 'Cardo', serif;
}
strong {
    font-weight: bold;
}
a {
    color: #36454F;
    text-shadow: 0px 0px 1px #888888;
}

/* Optional: Add styles for hover, active, and visited states */
a:hover {
    color: darkgrey;
}